{%extends 'blog/base.html'%}
<!-- header END -->
{% block title%}Blog_Home{%endblock%}

{% block content%}
{% load humanize %}

<style>

ul, li {
    list-style: none;
}
h5{
  margin: 0;

}
h3{
   background: #f2f2f2;
  color: #2996bd;
  margin: 10px 0px 15px;
  padding-bottom:10px;
  padding-left: 10px;
  border-left: 5px solid #32aae1;
}
.sidebar.widget {

  border: 1px solid #ddd;
  padding: 10px 20px;
}
.sidebar.widget ul {
    margin: 0px;
    padding: 0;
    overflow: hidden;
}
.sidebar.widget ul li {
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px
}
.sidebar-thumb{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-thumb img{
  background: #fff;
  border: 1px dashed #e0e0e0;
  padding: 6px;
  height: 75px;
  width: 75px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.sidebar-content h5{
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
}
.sidebar-content h5 a:hover{
  color: #2996bd;
}

.sidebar-content h5 a{
    color: #202020;
    outline: 0 none;
    text-decoration: none;
    font-weight: bold
}
.sidebar-meta{
  margin-top: 10px;
}
.sidebar-meta span{
  color: #2e2e2e;
}
.sidebar-meta span.time{
  margin-right: 10px;
}
.sidebar-meta span i{
  color: #2996bd
}





</style>


<!-- Navigation -->

{% load extras %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">
                <h1 class="blog-post-title"></h1>
                <p class="blog-post-meta"><i class="far fa-calendar-alt text-primary p-2"></i>{{i.timeStamp}} by <a
                        href="#"><i class="fas fa-user-check text-primary p-2"></i>{{i.author.username}}</a></p>

            </h1>

            <!-- Blog Post -->

            <div class="card mb-4">
                <img class="card-img-top" src="{{i.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{i.title}}</h2>
                    <h1 class="my-4">
                        <h1 class="blog-post-title"></h1>
                        <p class="blog-post-meta"><i class="far fa-calendar-alt text-primary p-2"></i>{{i.timeStamp}} by
                            <a href="#"><i class="fas fa-user-check text-primary p-2"></i>{{i.author.username}}</a></p>

                    </h1>
                    <p class="card-text">
                        {% autoescape off%}
                        {{i.content}}
                        {% endautoescape%}
                    </p>
                    <a href="/blog" class="btn btn-primary">Back &larrtl;</a>
                </div>
                <div class="card-footer text-muted">
                    <h1 class="my-4">
                        <h1 class="blog-post-title"></h1>
                        <p class="blog-post-meta"><i class="far fa-calendar-alt text-primary p-2"></i>{{i.timeStamp}} by
                            <a href="#"><i class="fas fa-user-check text-primary p-2"></i>{{i.author.username}}</a></p>

                    </h1>
                </div>
            </div>


            <!-- Pagination -->
            <!--startcomment-->

            <!--            <div class="fb-comments" data-href="http://localhost:8000/blog/" data-width="" data-numposts="5"></div>-->
            <div class="container p-3" style="background:#F7F7F7">
                <h2> Comments  <small class="img1 p-2 bg-dark text-white">{{comments.count}}</small></h2>
                {% if user.is_authenticated %}
                <form action="/blog/postComment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Post Comment </label>
                        <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                    </div>
                    <input type="hidden" name="postSno" value="{{i.post_id}}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% for comment in comments %}
                <div class="row my-3">
                    <div class="col-md-1  ">
                        <img class="mx-auto img1" src="{{comment.user.pic.url}}" alt="user">
                    </div>
                    <div class="col-md-11 ">
                        <b> {{comment.user.user.username}} </b> at {{comment.timestamp}} <span class="badge badge-secondary ">{{comment.timestamp| naturaltime}}</span>

                        <div> {{comment.comment}}</div>

                         <div class="reply mx-0 p-3">
                {% if user.is_authenticated %}
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                    Reply
                </button>
                              <hr>
                <div class="collapse" id="replyBox{{comment.sno}}">
                    <div class="card card-body my-2">
                        <form action="/blog/postComment" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">Post a reply </label>
                                <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                            </div>
                            <input type="hidden" name="postSno" value="{{i.post_id}}">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                    Login to reply
                </button>
                {% endif %}
                <div class="replies my-2 ">
                    {% for reply in replyDict|get_val:comment.sno %}
                    <div class="row my-2">
                        <div class="col-md-1 ">
                            <img class="mx-auto img1" src="{{reply.user.pic.url}}" alt="user">
                        </div>
                        <div class="col-md-11">
                            <div class="col-md-11 ">
                                <b> {{reply.user.username}} </b> <span class="badge badge-secondary ">{{reply.timestamp| naturaltime}}</span>
                                <div>{{reply.comment}}</div>
                            </div>
                            <br>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>





<!--                        end-->
                    </div>


                    </div>
                </div>
                {% endfor %}

                {% else %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea3">Login to post a comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="4"></textarea>
                </div>
                <a href="/accounts/login/"><h3 class="p-3">Please login to post a comment</h3></a>
                {% endif %}


            </div>


            <!--      endcomment-->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 mt-5">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="{% url 'postserch' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search for...">
                            <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
                        </div>
                    </form>
                </div>
            </div>

            <!--        recentpose-->


            <div class="sidebar widget">
                <h3 class=" p-3">Recent Post</h3>
                <ul>
                    {% for i in data1%}
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="{{i.thumbnail.url}}" alt=""/>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{% url 'displaypost' i.post_id %}">

                                {% autoescape off%}
                                {{i.content|truncatewords:5}}
                                {% endautoescape%}


                            </a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time"><i class="fa fa-clock-o"></i> {{i.timeStamp}}</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->

                    {%endfor%}

                </ul><!-- .Ul ends here -->
            </div><!-- .Widget ends here -->


            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {% for i in catag%}
                                <li>
                                    <a href="#">{{i.catagory_name}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Side Widget -->


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->


    <!-- Bootstrap core JavaScript -->


</div>


{% endblock%}