
{% extends 'base2.html'%}


{% load static %}
{% block title%}Dasbord  {% endblock%}
{% block css%}
.bg-darkx{
background-color: #808080 !important;

}

.mar{
padding-left:0px;
}

{% endblock%}


{% block content %}

<div class="container-fluid mar">



        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-right bg-darkx col-md-2 col-sm-2"   id="sidebar-wrapper">

                <div class="list-group list-group-flush ">
                   <a class="list-group-item list-group-item-action bg-darkx text-white" href="/bloghomee/">Blog</a>
                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/usrbuilds/">My Builds</a>
                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/showcart/">Cart</a>
                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/orders/ ">order</a>


                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/shop/profile/{{ user.myprofile.id }}">Profile</a>
                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/shop/profile/edit/{{ user.myprofile.id }}">Edit Profile</a>
                    <a class="list-group-item list-group-item-action bg-darkx text-white" href="/accounts/logout/">Logout</a>

                </div>
            </div>
            <!-- Page Content-->
            <div id="page-content-wrapper col-md-10 col-sm-10">


                <div class="container mt-5">
                  {% block left%}

                   {%endblock%}
                </div>
            </div>
        </div>

</div>

{% endblock %}